beautifulsoup4~=4.12.2
bs4==0.0.1
certifi==2022.9.24
charset-normalizer==2.1.1
idna==3.4
lxml==4.9.2
Pillow==9.4.0
requests~=2.31.0
soupsieve==2.3.2.post1
urllib3==1.26.12
PyGithub~=1.58.1
flask~=3.0.3
pandas~=2.3.1
akshare~=1.17.52
Js2Py~=0.74
websockets~=10.4
playwright~=1.56.0
numpy~=2.2.6
boto3~=1.42.17
botocore~=1.42.17